<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>

        <menuitem name="Hospital"
                  web_icon="om_hospital,static/description/icon.png"
                  id="menu_hospital_root"
                  sequence="0"/>

        <menuitem name="Patient Details"
                  parent="menu_hospital_root"
                  id="menu_patient_master"
                  sequence="0"/>

        <menuitem name="Appointments"
                  id="menu_appointment_master"
                  parent="menu_hospital_root"
                  sequence="20"/>

        <menuitem name="Configurations"
                  id="menu_configuration"
                  parent="menu_hospital_root"
                  sequence="100"/>

        <menuitem name="Cancellation"
                  id="menu_cancel_appointment"
                  parent="menu_appointment_master"
                  action="action_cancel_appointment"
                  sequence="20"/>

    </data>
</odoo>